*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Main section*/
body {
    background-color: hsl(275, 100%, 97%);
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    background-image: url(./images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    gap: 2rem;
}

.container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: start;
    flex-direction: column;
    max-width: 40rem;
    width: 35rem;
    gap: 1rem;

    border-radius: 10px;
    padding: 2rem;
}

.faqs {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}

.first, .second, .third, .fourth {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

h1 {
    font-size: 3rem;
    color: hsl(292, 42%, 14%);
}

h2 {
    color: hsl(292, 42%, 14%);
    font-size: 1rem;
}

h2:hover, .first:hover, .second:hover, .third:hover, .fourth:hover {
    color: hsl(293, 71%, 49%);
    cursor: pointer;
}

p {
    color: hsl(292, 16%, 49%);
    font-size: 0.9rem;
}

hr {
    border: 1px solid hsl(30, 8%, 90%);
    width: 100%;
}

/*Footer section*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/*Change screen size*/
@media screen and (max-width: 978px) {
    body {        
        background-image: url(./images/background-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: top;
    }

    .container {
        max-width: 20rem;
        padding: 1rem;
    }

    footer {
        display: none;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .star {
        max-width: 20%;
        max-height: 20%;
    }

    hr {
        margin: 0.5rem 0;
    }
}